<div class="d-flex justify-content-center nav-style mb-2">
  <div class="d-flex justify-space-between users-list">
    <div class="d-flex">
      <h2>Home</h2>
      <h2>Your Posts</h2>
    </div>
    <div>
      <button type=""><%= link_to new_user_path(@current_user.id), :action => 'go', class: 'link-to-default' %>Add new Post <%end%></button>
    </div>
  </div>
</div>

