<div class="d-flex justify-content-center nav-style mb-2">
  <div class="d-flex justify-space-between users-list">
    <div class="d-flex">
      <h2>Home</h2>
      <h2>Your Posts</h2>
    </div>
    <div>
      <button type="">Add new Post</button>
    </div>
  </div>
</div>

