<%= render partial: '_partials/navbar/nav' %>

<div class="d-flex justify-content-center flex-column align-items-center">
  <div class="users-list">
    <div class="post-list">
      <%= render partial: '_partials/cards/comment_card', locals: { post: @current_post } %>
      <%= render partial: '_partials/forms/like_form', locals: {url: user_posts_path(params[:user_id]), post_id: @current_post.id } %>
    </div>

    <%= render partial: '_partials/forms/comment_form', locals: {url: user_post_path(params[:user_id], params[:id]), post_id: params[:id]} %>

    <span class="p-05"></span>
  </div>
</div>
