<div class="d-flex flex-column align-items-center justify-content-center">
  <div class="users-list">
    <%= render partial: '_partials/cards/user_card', locals: { user: user}%>
    <%= render partial: '_partials/lists/list_post_comments', locals: { posts: posts, posts_text: posts_text, url: url }%>
    <%== render partial: '_partials/pagy/nav', locals: {pagy: @pagy} %>
  </div>
</div>