<div>
  <% posts.each_with_index do |post, index| %>
    <div class="post-list">
      <%= render partial: "_partials/cards/post_card", locals: { post: post, text: posts_text[index] } %>
      <%= render partial: "_partials/cards/comment_card", locals: { post: post, url: url }%>
      <%= render partial: '_partials/forms/like_form' , locals: {url: url , post_id: post.id} %>
      <% if can? :create, Comment%>
        <%= render partial: '_partials/forms/comment_form', locals: { post_id: post.id, url: url } %>
      <% end %>
    </div> 
  <% end %>
</div>