<div class="d-flex justify-content-center flex-column align-items-start box-1 margin-top-005">
  <% post.comments.each do |comment| %>
    <div class="d-flex justify-content-center margin-b-05">
      <h2 class="fs-9 mr-1"><%= comment.user.name %>:</h2>
      <h2 class="fs-9"><%= comment.text %></h2>
    </div>
  <% end %>
</div>