<div class="d-flex justify-content-center flex-column box-1 mt-1">
  <h2 class="fs-16 mb-1">Post - [<%= post.id %>]</h2>
  <p class="mb-1"><%= text %></p>
  <div class="d-flex justify-content-end">
    <h3 class="fs-9 minimum-margin">Comments: <%= post.comments_counter %></h3>
    <h3 class="fs-9">Likes: <%= post.likes_counter %></h3>
  </div>
</div>