<div class="d-flex justify-content-center mt-1 mb-1">
  <%= link_to user_posts_path(user.id), :action => 'go', class: 'link-to-default' do %>
    <button type="submit" class="default-btn">see all posts</button>
  <% end %>
</div>