// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// flex properties

.mw-300 {
  max-width: 250px!important;
}

.fs-24 {
  font-size: 24px;
}

.fs-16 {
  font-size: 16px;
}

.fs-9 {
  font-size: 9px;
}

.fs-12 {
  font-size: 12px;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.user-img {
  width: 50px;
}

.box-1 {
  border: 2px solid black;
  padding: 1rem;
}

.minimum-margin,
.margin-right-025 {
  margin-right: 0.25rem;
}

.margin-b-05 {
  margin-bottom: 0.4rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.margin-top-05 {
  margin-top: 0.5rem;
}

.margin-top-005 {
  margin-top: 0.05rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.align-self-end {
  align-self: end;
}

.users-list {
  max-width: 800px;
  width: 95vw;
}

.design-problem {
  width: 100%;
  max-width: 70%;
}

.text-align-left {
  text-align: left;
}

.default-btn,
.pagy-btn,
.pagy-page-btn,
.pagy-btn-disabled,
.pagy-page-btn-disabled,
.submit-post-btn {
  background-color: transparent;
  border: 2px solid #222;
  box-shadow: 2px 2px 1.5px 1px #444;
  cursor: pointer;
}

.cancel-btn-style {
  background-color: rgb(247, 59, 59);
  border: 2px solid rgb(240, 143, 143);
  box-shadow: 2px 2px 1.5px 1px rgb(240, 191, 191);
  color: white;
  font-weight: bolder;
}

.pagy-btn,
.pagy-page-btn,
.pagy-btn-disabled,
.pagy-page-btn-disabled,
.post-btn {
  padding: 0.25rem;
  border: 1px solid #222;
  box-shadow: 1px 1px 1px 1px #444;
}

.pagy-page-btn,
.pagy-page-btn-disabled,
.post-btn {
  background-color: rgb(88, 220, 243);
  color: rgb(114, 113, 113);
}

.pagy-page-btn-disabled {
  background-color: rgb(216, 248, 253);
}

.submit-post-btn {
  width: 50%;
  max-width: 100px;
}

.pagy-btn-disabled {
  background-color: #eee;
  border: 1px solid #ddd;
}

.post-btn {
  background-color: blanchedalmond;
  color: rgb(37, 37, 37);
}

.pagy-link {
  text-decoration: none !important;
  color: #000 !important;
  cursor: pointer;
}

.p-05,
.default-btn {
  padding: 0.5rem;
}

.nav-link-style,
.nav-style {
  color: rgb(71, 70, 70) !important;
}

.nav-style {
  background: #ccc;
  box-shadow: 0 1px 1px 1px rgb(37, 37, 37);
}

.default-input::placeholder,
.default-input-devise::placeholder,
.default-text-area-devise::placeholder,
.default-text-area::placeholder {
  color: black;
}

.default-input,
.default-input-devise,
.default-text-area {
  padding: 0.5rem 0.15rem;
}

.default-text-area,
.default-text-area-devise {
  resize: none;
}

.default-input:focus,
.default-input-devise:focus,
.default-input-devise,
.default-text-area-devise,
.default-text-area:focus,
.default-text-area-devise:focus {
  outline: none;
  border: 1px solid gray;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 1px #444;
}

.post-list {
  position: relative;
}

.button-position {
  position: absolute;
  top: 2.5%;
  right: 1%;
}
