<div>
  <div>
    <img class="profileImg"  src=<%= image_path 'default_user.png' %>>
  </div>
  <div>
    <h2><%= user.name%></h2>
    <h2>Number of posts: <%= user.posts_counter%></h2>
  </div>
</div>